*{
    transition: all 1s ease;
}

/*验证码*/
.code
{
    background:url(code_bg.jpg);
    font-family:Arial;
    font-style:italic;
    color:blue;
    font-size:30px;
    border:0;
    padding:2px 3px;
    letter-spacing:3px;
    font-weight:bolder;
    float:left;
    cursor:pointer;
    width:150px;
    height:60px;
    line-height:60px;
    text-align:center;
    vertical-align:middle;
}


/*三角形的通用属性*/
.sanjiao{
    display: inline-block;
    width:0;
    height:0;
    vertical-align: middle;
}
/*向左的三角形*/
.sanjiao_left{
    border-bottom:10px solid transparent;
    border-right:10px solid #fff;
    border-top:10px solid transparent;
    margin-left: 20px;
}
/*向下的三角形*/
.sanjiao_bottom{
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid #fff;
}

/*下拉框*/
.drop_box{
    display: inline-block;
}

.drop_down{
    color: #fff;
    background-color: #337ab7;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
}
.drop_down:hover{
    color: #fff;
    background-color: #286090;
}
.drop_down .sanjiao_bottom {
    margin-left: 30px;
}
.drop_box #ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    bottom: 0;
    width: 100%;
}
.drop_box .ul_show{
    display: block!important;
}
.drop_box ul li {
    background-color: #000;
    color:#fff;
    text-align: left;
    cursor: pointer;
    padding: 6px 12px;
}
.drop_box ul li:hover{
    background-color: #E6E6E6;
    color:#000;
}
.drop_box ul li.active{
    background-color: #E6E6E6;
    color:#000;
}

